.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
  
.buttons {
  width: 100%;
  max-width: 652px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.list {
  margin: 0 auto;
  max-width: 652px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 351px) {
  .list {
    grid-template-columns: 1fr;
  }
}

.post {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}

.post:hover {
  background-color: var(--border-color);
}

.post img {
  border-radius: 4px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  gap: 4px;
}

.category {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.description {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-secondary-color);
}

.date {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  color: var(--text-color);
  white-space: nowrap;
}