.main {
  margin: 0 auto;
  max-width: 652px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: min-content;
  gap: 20px;
}

@media (max-width: 351px) {
  .main {
    grid-template-columns: 1fr;
  }
}

.status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  text-decoration: none;
  color: var(--text-color);
}

.status p {
  margin: 0;
}

.status:hover {
  background-color: var(--border-color);
  transition: background-color 0.3s;
}

@media (max-width: 150px) {
  .status {
    flex-direction: column;
    gap: 0;
    padding: 4px;
  }
}

.operational {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--success-color);
  transition: background-color 0.3s;
}

.warning {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--warning-color);
  transition: background-color 0.3s;
}

.error {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--error-color);
  transition: background-color 0.3s;
}

.running {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--info-color);
  transition: background-color 0.3s;
}

.none {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--text-secondary-color);
  transition: background-color 0.3s;
}